/* styles.css */
.button {
    -fx-background-color: #1DB954; /* Colore di sfondo verde -fx-background-color: #4CAF50; */
    -fx-text-fill: white; /* Colore del testo bianco */
    -fx-alignment: CENTER;
    -fx-font-size: 16px;
    -fx-font-weight: bold; /* Imposta il grassetto per il testo del bottone */
    -fx-pref-height: 40px; /* Regola l'altezza desiderata del bottone */
    -fx-pref-width: 140px; /* Regola la larghezza desiderata del bottone */
    -fx-min-width: -1; /* Imposta la larghezza a use_computed_size */
    -fx-min-height: -1; /* Imposta l'altezza a use_computed_size */
}

#addButton {
    -fx-background-radius: 50%;
    -fx-font-size: 18px;
}


/* Colore di sfondo per i campi di testo e aree di input */
.text-field, .text-area{
    -fx-text-fill: black; /* Colore del testo bianco */
    -fx-border-color: #1DB954;
    -fx-font-size: 16px;
}

.check-box {
    -fx-text-fill: black; /* Colore del testo bianco */
    -fx-font-size: 16px;
}

.label{
    -fx-font-size: 16px;
}

/* Colore di sfondo per il testo "in corso di accettazione" */
#pendingLabel {
    -fx-text-fill: #1DB954;
}

/* Colore di sfondo per i link delle playlist */
.playlistLink {
    -fx-text-fill: #1DB954;
}

/* Colore di sfondo per le notifiche */
.notification {
    -fx-background-color: #1DB954;
    -fx-text-fill: white;
}

/* Colore di sfondo per la barra di navigazione */
#navigationBar {
    -fx-background-color: #1DB954;
}

/* Colore di sfondo per la tabella del database */
#databaseTable {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #1DB954;
}

/* Altri stili e colori personalizzati possono essere aggiunti secondo le tue preferenze */
#guest {
    -fx-pref-width: 200px; /* Regola la larghezza desiderata del bottone */
}
