/* styles.css */
.root {
    -fx-background-color: #333333; /* Imposta il colore di sfondo */
}

.button, .label, .text-field {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
/* Bottoni */

.button {
    -fx-background-color: #1DB954; /* Colore di sfondo verde -fx-background-color: #4CAF50; */
    -fx-text-fill: white; /* Colore del testo bianco */
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-font-weight: bold; /* Imposta il grassetto per il testo del bottone */

    -fx-border-radius: 20;
    -fx-background-radius: 20;

    -fx-pref-height: 40px; /* Regola l'altezza desiderata del bottone */
    -fx-pref-width: -1; /* Regola la larghezza desiderata del bottone */

    -fx-min-width: 140px; /* Imposta la larghezza minima a use_computed_size */
    -fx-min-height: 40px; /* Imposta l'altezza a use_computed_size */
}





#addButton {
    -fx-alignment: CENTER;

    -fx-pref-height: 60px; /* Regola l'altezza desiderata del bottone */
    -fx-pref-width: 60px; /* Regola la larghezza desiderata del bottone */
    -fx-min-width: -1; /* Imposta la larghezza a use_computed_size */
    -fx-min-height: -1; /* Imposta l'altezza a use_computed_size */

    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-border-width: 3;

    -fx-border-color: black;
    -fx-background-color: #1DB954;
    -fx-background-image: url("../photo/add_playlist.png");
    -fx-background-size: cover; /* Adatta l'immagine alle dimensioni del pulsante */
    -fx-background-repeat: no-repeat;
}

/* Colore di sfondo per i campi di testo di input */

.text-field {
    -fx-border-color: #1DB954;
    -fx-font-size: 16px;
}

.label{
    -fx-font-family: 'Arial'; /* Imposta il tipo di carattere desiderato, ad esempio 'Arial' */
    -fx-font-size: 16px;
    -fx-text-fill: white; /* Colore del testo bianco */
}

/* TABLE VIEW */

/* Stile generale per le colonne della tabella */
#approveColumn .label,
#playlistNameColumn .label,
#usernameColumn .label,
#linkColumn .label,
#genreColumn .label,
.table-column {
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-font-family: 'Arial';
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

/* Stile per tutti i bottoni all'interno delle celle della tabella */
.table-cell .button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-min-width: 85px;
    -fx-min-height: 40px;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;

}

/* Stile generale per le righe della tabella */
.table-row-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}

/* Stile per le righe pari */
.table-row-cell:even {
    -fx-background-color: #f0f0f0;
}

/* Stile per le righe dispari */
.table-row-cell:odd {
    -fx-background-color: #ffffff;
}

/* Stile per le righe selezionate */
.table-row-cell:selected {
    -fx-border-color: #1DB954;
}



/* CHECK BOX */

.check-box {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}


.buttonApprove {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-pref-height: 50px; /* Regola l'altezza desiderata del bottone */
    -fx-pref-width: 50px; /* Regola la larghezza desiderata del bottone */
    -fx-min-width: -1; /* Imposta la larghezza a use_computed_size */
    -fx-min-height: -1; /* Imposta l'altezza a use_computed_size */
    -fx-background-radius: 50%;
    -fx-stroke: 50;
    -fx-border-radius: 50%;
}

.buttonReject {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-pref-height: 50px; /* Regola l'altezza desiderata del bottone */
    -fx-pref-width: 50px; /* Regola la larghezza desiderata del bottone */
    -fx-min-width: -1; /* Imposta la larghezza a use_computed_size */
    -fx-min-height: -1; /* Imposta l'altezza a use_computed_size */
    -fx-background-radius: 50%;
    -fx-stroke: 50;
    -fx-border-radius: 50%;
}