/* styles.css */
.root {
    -fx-background-color: #333333; /* Imposta il colore di sfondo */
}

.button, .label, .text-field {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
/* ----- BOTTONI ----- */

.button {
    -fx-background-color: #1DB954; /* Colore di sfondo verde -fx-background-color: #4CAF50; */
    -fx-text-fill: white; /* Colore del testo bianco */
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-font-weight: bold; /* Imposta il grassetto per il testo del bottone */

    -fx-focus-traversable: false;

    -fx-border-radius: 20;
    -fx-background-radius: 20;

    -fx-pref-height: 40px; /* Regola l'altezza desiderata del bottone */
    -fx-pref-width: -1; /* Regola la larghezza desiderata del bottone */

    -fx-min-width: 140px; /* Imposta la larghezza minima a use_computed_size */
    -fx-min-height: 40px; /* Imposta l'altezza a use_computed_size */
}

#addButton {
    -fx-pref-height: 60px;
    -fx-pref-width: 60px;
    -fx-min-width: -1;
    -fx-min-height: -1;

    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-border-width: 3;
    -fx-border-color: #1DB954;
    -fx-background-color: #1DB954;
    -fx-background-image: url("../photo/add_playlist.png");
    -fx-background-size: contain; /* Adatta l'immagine al pulsante */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; /* Posiziona l'immagine al centro */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 5,0,0,1 ); /* Aggiunge un'ombra */
    -fx-cursor: hand; /* Cambia il cursore al passaggio del mouse */
    -fx-opacity: 0.9; /* Opacità del pulsante */
}

#addButton:hover {
    -fx-background-color: #147533; /* Cambia il colore al passaggio del mouse */
    -fx-border-color: #147533; /* Cambia il colore del bordo al passaggio del mouse */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 8,0,0,2 ); /* Aumenta l'ombra al passaggio del mouse */
    -fx-opacity: 1; /* Ripristina l'opacità al passaggio del mouse */
}

.text-field {
    -fx-border-color: #1DB954;
    -fx-font-size: 16px;
}

.label{
    -fx-font-family: 'Arial'; /* Imposta il tipo di carattere desiderato, ad esempio 'Arial' */
    -fx-font-size: 16px;
    -fx-text-fill: white; /* Colore del testo bianco */
}

/* TABLE VIEW */

/* Stile generale per le colonne della tabella */
#approveColumn .label,
#playlistNameColumn .label,
#usernameColumn .label,
#linkColumn .label,
#genreColumn .label,
.table-column {
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-font-family: 'Arial';
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

/* Stile per tutti i bottoni all'interno delle celle della tabella */
.table-cell .button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-min-width: 85px;
    -fx-min-height: 40px;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;

}

/* Stile generale per le righe della tabella */
.table-row-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}

/* Stile per le righe pari */
.table-row-cell:even {
    -fx-background-color: #f0f0f0;
}

/* Stile per le righe dispari */
.table-row-cell:odd {
    -fx-background-color: #ffffff;
}

/* Stile per le righe selezionate */
.table-row-cell:selected {
    -fx-border-color: #1DB954;
}



/* CHECK BOX */

.check-box {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}
